h1 {
    margin: 5px;
}

#src {
    float: left;
    background-color: #FFFFFF;
    width: 315px;
    height: 200px;
    margin: 0px 5px;
}

#dst {
    float: left;
    background-color: #F5F5F5;
    color: #000000;
    width: 315px;
    height: 200px;
    margin: 0px 5px;
}

#clear {
    clear: both;
}

#translate {
    float: left;
    margin: 5px 20px;
}

#translate-button {
    clear: left;
    float: left;
    margin: 5px;
    width: 100px;
    height: 3em;
}

#from-lang {
    float: left;
    margin: 5px 5px;
}

#to-lang {
    float: left;
    margin: 5px 5px;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

